*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    max-width: 100%;
    max-height: 100%;
}
header{
    display: flex;
    height: 7rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    letter-spacing: 0.5px;
}
.logo{
    max-width: 20%;
    max-height: 20%;
    align-self: flex-end;
    margin-bottom: 20px;
}
.rightHeader{
    margin-left: auto;
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}
#pageNumber{
    height: auto;
    margin-bottom: 7px;
    width: 35px;
    margin-left: auto;
    font-weight: 800;
    font-size: 1.5rem;
}
.headerSplit{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
    height: 1px;
    background-color: black;
}
.kitxvebi{
    width: 250px;
    height: 20px;
}
#motherBody{
    margin-top: 2rem;
    height: 60vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
small{
    color: red;
    margin-left: 13px;
}
.monishvna{
    display: flex;
}
#secondStage, #thirdStage,
#fourthStage, #pageChange2,
#pageChange21, #pageChange2Else{
    visibility: hidden;
}
#pageChange2,
#pageChange21, #pageChange2Else{
    position: relative;
    margin-left: 52%;
}
#kitxvari{
    width: 100%;
    height: 100%;
}
#kitxvari2{
    display: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#kitxvari3{
    display: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#kitxvari4{
    display: none;
}
#pageChange2{
    visibility: hidden;
}
#pageChange3{
    visibility: hidden;
}
#secondStage2, #thirdStage2,
#romArGadado, #linkWithText,
#fourthStage2, #pageChange2,
#pageChange21, #justLink,
#pageChange3{
    display: none;
}
::-webkit-scrollbar {
    display: none;
}
#leftBody{
    width: 50%;
    max-width: 50%;
    margin-right: auto;
    overflow-y: auto;
    display: inline-block;
}
#rightBody{
    position: relative;
    width: 50%;
    max-width: 50%;
    margin-right: auto;
}
#rightBody2, #rightBody3,
#rightBody4{
    display: none;
    position: relative;
    width: 50%;
    margin-right: auto;
}
#leftBody2, #leftBody3,
#leftBody4{
    display: none;
    width: 50%;
    max-width: 50%;
    margin-right: auto;
    overflow-y: auto;
}
#leftBody2{
    width: 50%;
}
.pageImage{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nextButton{
    padding: 0;
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}
footer{
    margin-left: auto;
    margin-right: auto;
    max-height: 5vh;
    width: 80%;
    height: 50px;
    margin-top: 4%;
}
.imageButton{
    width: 14px;
    height: 20.63px;
}
#pageChange4{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    float: right;
}
/*after Styling */
#dateInput, #numberInput{
    width: 80%;
}
.kitxvebi{
    width: 80%;
    height: 50px;
    margin-top: 15px;
    margin-left: 13px;
}
.footerSplit{
    width: 30%;
}
.gaftxileba{
    margin-left: 13px;
    margin-top: 8%
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    content: "";
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: black;
}
.textArea{
    resize: none;
    width: 90%;
    height: 184px;
    margin-left: 13px;
}
.lastButton{
    padding: 0;
    border: none;
    background: none;
    margin-left: 0%;
    cursor: pointer;
}
.pageChangers{
    height: 20.63px;
    width: 90px;
    white-space: nowrap;
    margin-left: 45%;
}
#page1Next{
    padding: 0;
    border: none;
    background: none;
    margin-left: 0%;
    cursor: pointer;
    float: right;
    position: relative;
}
#page2Last, #page2Next,
#page3Last, #page3Next,
#page4Last{
    padding: 0;
    border: none;
    background: none;
    margin-left: 0%;
    cursor: pointer;
    visibility: hidden;
}
#page2Next, #page3Next
{
    float: right;
    display: none;
}
#page2NextKiKi, #page2NextKiAra{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-left: 0%;
    cursor: pointer;
}

/*intro styling*/
.carousel-inner{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.item{
    background-image: url(./introimage.png);
    background-size: 100% 100%;
    animation: logo 0.8s ease-in;
    -webkit-animation-delay:0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
}
.text{
    margin-left: auto;
    animation: text 1s linear 0s;
    margin-right: auto;
    position: absolute;
    width: 498px;
    height: 179px;
    left: calc(50% - 498px/2);
    top: 444px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: lowercase;
    font-feature-settings: 'case' on;
    color: #232323;
}
.button1{
    -webkit-user-select: none;
    width: 498px;
    height: 179px;
    letter-spacing: 2px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: auto;
    position: relative;
    margin-top: auto;
    animation: button 1s 1;
}
.buttonText{
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    width: 498px;
    height: 179px;
}
@-webkit-keyframes logo {
    to { margin-left: calc(50% - 50px) ;}
    to { margin-top: 15%;}
    to { width: 100px;}
    to { height: 100px;}
    to { border-radius: 50%; }
    to { background-image:url(./logotest.png); }
}
a:visited {
    color: #232323;
    
}
.buttonText:hover{
    text-shadow: 2px 2px gray;
    cursor: pointer;
}
.text span{
    text-transform: uppercase;
    display: block;
}
@keyframes button{
    0%{
        color: #FE3B1F;
        margin-bottom: -60px;
    }
    30%{
        color: #FE3B1F;
        letter-spacing: 37.5px;
        margin-bottom: -60px; 
    }
    100%{
        letter-spacing: 2px;
        margin-bottom: -60px;
    } 
}
/*hide first page for intro*/
#motherBody{
    display: none;
}
#header, #headerSplit,
footer{
    display: none;
}
/*square for first page*/
.firstImage{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#square{
    position: absolute;
    background: #D6D16E;
    top: 25%;
    left: 11%;
    width: 75%;
    height: 12%;
    animation: squareAnimation 0.6s ease-out;
}

@keyframes squareAnimation{
    from {
        background: #D6D16E;
        top: 40%;
        left: 0%;
        width: 10%;
        height: 10%;
    }
}
/*cricle for second page*/
.pageImage{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.red-ball{
    position: absolute;
    opacity: 100%;
    width: 20%;
    height: 26%;
    top: 30%;
    left: 13%;
    animation: circleAnimation 0.6s ease-out;
}
@keyframes circleAnimation{
    from {
        position: absolute;
        background: #D6D16E;
        top: 25%;
        left: 11%;
        width: 75%;
        height: 12%;
    }
}
/*star for third page*/
#star{
    position: absolute;
    width: 30%;
    height: 40%;
    bottom: 63%;
    left: 6%;
    animation: starAnimation 0.6s ease-out;
}
@keyframes starAnimation{
    from {
        position: absolute;
        width: 20%;
        height: 26%;
        bottom: 30%;
        border-radius: 50%;
        left: 13%;
        color: red;
    }
}
/*heart for third page*/
#heart{
    position: absolute;
    top: 10%;
    left: 13%;
    opacity: 70%;
    width: 30%;
    height: 25%;
    animation: heartAnimation 0.6s ease-out;
}
@keyframes heartAnimation{
    from {
        opacity: 100%;
        width: 30%;
        height: 40%;
        bottom: 63%;
        left: 6%;
    }
}
#lastPage{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #232323;
}
/*madloba page*/
#lastpage{
    background-color: #232323;
}
.coco{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 20%;
}
.coco span{
    text-transform: uppercase;
    display: block;
}
.text1{
    -webkit-user-select: none;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    font-style: normal;
    line-height: 77px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    background: #232323;
    position: relative;
    letter-spacing: 0.24em;
    animation: madloba 1.5s 1;
}
@keyframes madloba {
    0%{
        color: #232323;
        margin-bottom: -60px;
    }
    24%{
        color: #232323;
    }
    30%{
        letter-spacing: 45px;
        margin-bottom: -60px;
    }
    95%{
        letter-spacing: 15px;
        margin-bottom: -60px;
    }
}
#secondStage, #page2NextKiKi,
#thirdStage, #fourthStage,
#page2NextKiAra{
        display: none;
    }


/* FOR MOBILE */
@media screen and (max-width: 800px) {
    #rightBody, #rightBody2,
    #rightBody3, #rightBody4{
        display: none;
    }
    h3{
        max-width: 100%;
        text-align: center;
    }
    #leftBody, #leftBody2,
    #leftBody3, #leftBody4{
        min-width: 100%;
        max-width: 100%;
    }
    #motherBody{
        max-width: 80%;
    }
    .kitxvebi{
        min-width: 100%;
        margin-left: 0;
        max-width: 100%;
    }
    .footerSplit{
        width: 100%;
        margin: auto;
    }
    .gaftxileba{
        margin-left: 0;
    }
    h5{
        text-align: center;
    }
    #kitxvari2{
        max-width: 100%;
    }
    #firstStage, #secondStage,
    #thirdStage, #fourthStage{
        width: 100%;
    }
    #dateInput{
        width: 100%;
    }
    #numberInput{
        width: 100%;
    }
    label{
        max-width: 100%;
        max-width: 100%;
    }
    #leftBody2{
        max-height: 80%;
        max-width: 80%;
    }
    #thirdStage{
        max-height: 80%;
        max-width: 98%;
    }
}
